<a href="https://colab.research.google.com/github/AngelRupido/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [3]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

THE BREAK STATEMENT

In [7]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

LOOPING THROUGH A STRING

In [8]:
for x in "week":
  print(x)

w
e
e
k

THE RANGE() FUNCTION

In [10]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [11]:
for x in range(2,6):
  print(x)

2
3
4
5

In [12]:
for x in range(6):
  print("Example 1",x)
for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

NESTED LOOPS

In [13]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

WHILE LOOP STATEMENT

In [15]:
i = 1
while i<6:
  print(i)
  i+=1           #i=i+1  Assignment Operator

1
2
3
4
5

THE BREAK STATEMENT

In [18]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1        #Assignment operator for addition

1
2
3

THE CONTINUE STATEMENT

In [20]:
i = 1
while i<6:
  i+=1        #Assignment operator for addition
  if i==3:
    continue
  print(i)

2
4
5
6

THE ELSE STATEMENT

In [23]:
i = 1
while i<6:
  print(i) 
  i+=1       
else:
   print("i is no longer than less than 6")

1
2
3
4
5
i is no longer than less than 6

###APPLICATION 1
CREATE A PYTHON PROGRAM THAT DISPLAYS:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10 (in vertical order)

In [27]:
hello = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in week:
  print(x)

i = 0
while i<=10:
  print("Hello", i)  
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [25]:
for x in range(11):
  print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###APPLICATION 2
CREATE A PYTHON PROGRAM THAT DISPLAYS INTEGERS LESS THAN 10 BUT NOT LESS THAN 3

In [38]:
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9